<h1>SIGN Up</h1>

<form action="/create-employee" method="POST">
    <input type="text" name="firstName" placeholder="First Name" required>
    <input type="text" name="lastName" placeholder="Last Name" required>
    <input type="text" name="ADID" placeholder="Your ADID" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit">
</form>